.ItemsComponent-container {
  position: relative;
  margin: 0 auto;
  min-height: 380px;
  width: 38%;
}

.ItemsComponent-title {
  display: flex;
  justify-content: center;
}

.btn {
  color: white;
  border: unset;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
}

.btn-primary {
  background-color: #458bc7;
}

.btn-danger {
  background-color: #d9534f;
}

