.Table-container {
  border: 1px solid #c1b1b18f;
  border-radius: 5px;
  overflow: hidden;
}

.Footer {
  display: flex;
  padding-top: 20px;
  justify-content: center;
}

thead th:last-of-type,
tbody td:last-of-type {
  text-align: right;
}

table,
td,
th {
  border-bottom: 1px solid #c1b1b18f;
}

td {
  color: grey;
}

td, th {
  padding: 14px 28px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #f5f5f5;
  text-align: left;
}